@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img,
  video {
    height: initial;
    background-color: #d0134563;
   
   
  }
}

.slick-slide > div {

  margin: 0 10px;

 
}
.icon {
  transition: transform 0.2s ease-in-out; 
}

.icon:hover {
  transform: scale(1.5); 

}

.bold-icon {
  font-weight: bold;
  width: 6;
  height: 6;
}

